@import "../../globals.scss";
.login {
  height: 100vh;
  background-color: rgba(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    background-color: white;
    width: 70%;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
    @include mobile {
      width: 80%;
    }

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 90px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 5px;
        background-color: white;
        color: rebeccapurple;
        border: none;
        cursor: pointer;
        font-weight: bold;
      }
      @include mobile {
        display: none;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      @include mobile {
        padding: 20px;
        gap: 20px;
      }

      h1 {
        color: #555;
        @include mobile {
           text-align:center;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;

          border-bottom: 1px solid lightgrey;
          padding: 20px 10px;
        }
        input:focus {
          outline-color: #938eef;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
          @include mobile {
            flex-direction: flex-end;
          }
        }
      }
      p{
        height: 20px;
      }
      .success {
        color: green;
        font-size: 14px;
      }
      
      .error {
        color: red;
        font-size: 14px;
      }
      div{
        display:none;
        @include mobile {
          display:flex;
          align-items: center;
        }
        span{
          margin-right:10px;
        }
        a{
          color: #938eef;
          text-decoration: none;
        }
      }
    }
  }
}
