@import '../../globals.scss';
.navbar {
  @include themify($themes){
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:44px;
    padding: 8px 16px;
    border-bottom: 1px solid themed("border");;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;

    @include mobile{
       justify-content: space-around;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0 16px 0 0;

      @include mobile{
        margin: 0 8px 0 0;
     }

      span {
        font-weight: bold;
        font-size: 20px;
        color:themed("logo") ;
      }
  
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding:5px;
        width:35vw;

        @include mobile{
          width:6vw;
       }
        
        
        input {
          border: none;
          outline-width: 0;
          width:calc(100% - 50px);
          background-color: transparent;
          color:themed("textColor");

          @include mobile{
             display:none;
          }
        }

      }

    }
  
    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
        }
      }
      @include mobile{
        display:none;
     }
    }
  }
}
